<div id="<%= dom_id question %>">
  <p>
    <strong>Login:</strong>
    <%= question.login %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Responder:</strong>
    <%= question.responder %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= question.response %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= question.date %>
  </p>

</div>
